// variables 
$mainBurgandy: #bb2142;
$mainGreen: #33B75C;

// settings 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    background: linear-gradient(to bottom, $mainBurgandy, black);
    background-repeat: no-repeat;
    color: white;
}

// player progress
@import 'partials/progress';

// player info
@import 'partials/info';

// player playlist
@import 'partials/playlist';

// classes 
.selected__icon {
    color: $mainGreen;
}

.selected__item {
    background: rgba(0, 0, 0, 0.3);
}

// responsive
@media (min-width: 700px) {
    .app__player {
        display: grid;
        grid-template-columns: 1fr 2fr;
        font-size: 1.4rem;
    }

    .player__button {
        font-size: 1.4rem;
    }

    .player__image {
        height: 25%;
    }

    .player__item {
        * {
            padding: 0.4rem;
        }
    }
}

@media (min-width: 1000px) {
    .app__player {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
}